<div class="container"> 
<div class="col-xs-12 footer_div">
  <div class="row">
    <div class="col-xs-12 text-center">
      <ul class="nav nav-pills center-pills" id="social_icons">
        <li class="row1">
          <a target="_blank" href="#" class="text_al"> <i class="fa fa-facebook" aria-hidden="true"></i> <span class="social-text"> Facebook</span> </a>
        </li>
        <li class="row2">
          <a target="_blank" href="#" class="text_al"><i class="fa fa-linkedin-square" aria-hidden="true"></i> <span class="social-text"> Linkedin</span></a>
        </li>
        <li class="row1">
          <a target="_blank" href="#" class="text_al"><i class="fa fa-twitter"></i> <span class="social-text"> Twitter</span></a>
        </li>
        <li class="row2">
          <a target="_blank" href="#" class="heffect youtube_mr text_al"><i class="fa fa-youtube"></i> <span class="social-text"> YouTube</span></a>
        </li>
        
        
        <li class="divider-vertical" style="margin-right: 30px;margin-left:5px;"></li>
          <li class="row1">
          <a href="#" class="heffect remove_mr text_al"><i class="fa fa-envelope"></i><span class="social-text">Contact Us</span></a>
        </li>
      </ul>
    </div>
    </div>
</div>
  
</div>