{{template "layouts/prelogin.html" .}}
{{define "head"}}
<title>welcome</title>
<link href="/static/css/home.css" rel="stylesheet" />
{{end}}
{{define "body"}}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12">
				<form name="feedback" method="post" action="/signup" class="form-horizontal">
					<input type="hidden" name="redirect" value="">
	          		<fieldset>
	          			<div id="legend">
					      <legend class="">Register <span class="pull-right"><a href="/login">Login</a></legend>
					    </div>
						<div class="form-group">
			              <label class="col-sm-3 col-sm-offset-2 control-label" for="name">Name: </label>
			              <div class="col-sm-3">
			                <input id="name" name="name" type="text" placeholder="" class="input-sm form-control">
			              </div>
			            </div>
			            <div class="form-group">
			              <label class="col-sm-3 col-sm-offset-2 control-label" for="email">Email: </label>
			              <div class="col-sm-3">
			                <input id="email" name="email" type="text" placeholder="" class="input-sm form-control">
			              </div>
			            </div>
			            <div class="form-group">
			              <label class="col-sm-3 col-sm-offset-2 control-label" for="email">Password: </label>
			              <div class="col-sm-3">
			                <input id="password" name="password" type="text" placeholder="" class="input-sm form-control">
			              </div>
			            </div>
			            <div class="form-group">
			              <label class="col-sm-3 col-sm-offset-2 control-label" for="phone">Phone: </label>
			              <div class="col-sm-3">
			                <input id="phone" name="phone" type="text" placeholder="" class="input-sm form-control">
			              </div>
			            </div>
			            <div class="form-group">
			              <label class="col-sm-3 col-sm-offset-2 control-label" for="address">Address: </label>
			              <div class="col-sm-3">
			                <input id="address" name="address" type="text" placeholder="" class="input-sm form-control">
			              </div>
			            </div>
			            <div class="form-group">
			              <div class="col-sm-7 col-sm-offset-5">
			                <button id="btn" type="submit" class="btn_custom btn">Register</button>
			              </div>
			            </div>
					</fieldset>
				</form>	
				</div>
			</div>
		</div>
    </div>
</div>
{{end}}